<h3>
    {{
        employee.new
        ?
        'Add Employee'
        :
        'Edit employee'
    }}
</h3>
<form [formGroup]="employeeForm"
style="display: flex; flex-direction: column; margin-top: 2em"
(ngSubmit)="handleSubmit(employeeForm)"
>
    <mat-form-field appearance="outline">
        <mat-label> Name </mat-label>
        <input matInput formControlName="name" required />

        <mat-error *ngIf="name?.touched && name?.invalid"> That's not a legal name </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label> Lastname </mat-label>
        <input matInput formControlName="lastname" required />

        <mat-error *ngIf="lastname?.touched && lastname?.invalid"> That's not a legal lastname </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label> Address </mat-label>
        <input matInput formControlName="address" required />

        <mat-error *ngIf="address?.touched && address?.invalid"> That's not a legal address </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label> Job </mat-label>
        <mat-select formControlName="job" [(value)]="employee.job" required>
            <mat-option [value]="0">Cashier</mat-option>
            <mat-option [value]="1">Administration</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-radio-group aria-label="Select an option" formControlName="sex">
        <mat-radio-button [checked]="employee.sex" value="true">Male</mat-radio-button>
        <br>
        <mat-radio-button style="margin-top: 1em;" [checked]="!employee.sex" value="false">Female</mat-radio-button>
    </mat-radio-group>

    <mat-dialog-actions align="end">
        <button
            [disabled]="!employeeForm.valid || submitting"
            style="margin-top: 1em;"
            mat-raised-button
            color="primary"
        >
            {{
                employee.new
                ?
                'Add Employee'
                :
                'Save'
            }}
        </button>

        <button
            style="margin-top: 1em;"
            [disabled]="submitting"
            mat-button
            type="button"
            color="primary"
            (click)="closeDialog()"
        >
            Close
        </button>
    </mat-dialog-actions>
</form>


