<div class="container" *ngIf="!loading; else showLoading">
    <div style="display:flex; flex-direction: row;">
        <button mat-icon-button (click)="handleGoBack()">
            <mat-icon aria-hidden="false" aria-label="keyboard_backspace">keyboard_backspace</mat-icon>
        </button>
        <h1>
            {{ butcherStore.name }}
        </h1>
    
        <h2 style="margin: 0 1em">
            Address: {{ butcherStore.address }}
        </h2>
    
        <h2>
            Area: {{ butcherStore.area }}
        </h2>
    </div>

    <mat-tab-group>
        <mat-tab label="Employees">
            <button
                style="margin-top: 1em"
                mat-raised-button
                color="primary"
                (click)="handleShowAddEmployeeDialog()"
            >
                Add Employee
            </button>
            <mat-form-field style="width: 100%; margin-top: 1em;">
                <mat-label>Search Employees</mat-label>
                <input matInput [ngModel]="searchValue" type="text" (ngModelChange)="handleSearch($event)">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            
            <div  *ngFor="let employee of butcherStore.employees | search : 'employee' : searchValue "  style="margin-top: 2em;">
                <mat-card>
                    <mat-card-header>
                      <img mat-card-avatar src="../../assets/employee_64.png"/>
        
                        <mat-card-title>
                            {{ employee.name }} {{ employee.lastname }}
                        </mat-card-title>
                        <mat-card-subtitle>
                            {{ employee.job === 0 ? 'Cashier' : 'Administration' }}
                        </mat-card-subtitle>
                    </mat-card-header>
        
                    <mat-card-content>
                        <h4>
                            Address: {{ employee.address }}
                        </h4>
                        <h4>
                            sex: {{ employee.sex ? 'Male' : 'Female' }}
                        </h4>
                    </mat-card-content>
        
                    <mat-card-actions>
                        <button mat-raised-button color="primary"
                            (click)="handleOpenEditDialog(employee)"
                        >Edit</button>
                        <button
                            [disabled]="submitting"
                            mat-raised-button
                            color="warn"
                            (click)="handleDeleteEmployee(employee.id)"
                        >Delete</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </mat-tab>
        <mat-tab label="Storages">
            <button
            style="margin-top: 1em"
            mat-raised-button
            color="primary"
            (click)="handleShowAddStorageDialog()"
            >
                Add Storage
            </button>
            <mat-form-field style="width: 100%; margin-top: 1em;">
                <mat-label>Search Storages</mat-label>
                <input matInput [ngModel]="searchStorageValue" type="text" (ngModelChange)="handleSearchStorage($event)">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>

            <div  *ngFor="let storage of butcherStore.storages | search : 'storage' : searchStorageValue"  style="margin-top: 2em;">
                <mat-card>
                    <mat-card-header>
                      <img mat-card-avatar src="../../assets/storage_64.png"/>
        
                        <mat-card-title>
                            {{ storage.address }}
                        </mat-card-title>
                    </mat-card-header>
        
                    <mat-card-content>
                        Area: {{ storage.area }}
                    </mat-card-content>
        
                    <mat-card-actions>
                        <button 
                            mat-raised-button 
                            color="primary"
                            (click)="handleOpenEditStorageDialog(storage)"
                        >Edit</button>
                        <button
                            [disabled]="submitting"
                            mat-raised-button
                            color="warn"
                            (click)="handleDeleteStorage(storage.id)"
                        >Delete</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
<ng-template #showLoading>
    <div style="width: 100%; height: 100%;" class="super-center">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>